<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="surya.com.nu" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"></uses-sdk>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="surya.com.nu.SampleActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="surya.com.nu.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="surya.com.nu.Ma"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="surya.com.nu.Abt"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="surya.com.nu.Basic"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>
